Source: sidux-art-wallpaper-tartaros
Section: graphics
Priority: extra
Maintainer: Bernard Gray <bernard.gray@gmail.com>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>, Kel Modderman <kel@otaku42.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: sidux-art-wallpaper-tartaros
Architecture: all
Description: sidux "tartaros" wallpaper 
 the default wallpaper for the "tartaros" sidux release
