Source: sidux-art-wallpaper-tartaros
Section: graphics
Priority: extra
Maintainer: Bernard Gray <bernard.gray@gmail.com>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>, Kel Modderman <kel@otaku42.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Vcs-Svn: svn://svn.berlios.de/fullstory/sidux-art-wallpaper-tartaros/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/sidux-art-wallpaper-tartaros/trunk/

Package: sidux-art-wallpaper-tartaros
Architecture: all
Provides: sidux-art-wallpaper-theme
Conflicts: sidux-art-wallpaper (<= 0.0)
Description: sidux "tartaros" wallpaper 
 the default wallpaper for the "tartaros" sidux release
